.footer {
    width: 100%;
    background: #F3EAF1;
    margin-top: 81px;
}

.footer_social {
    align-items: center!important;
    justify-content: center!important;
    display: flex;
    flex-direction: row;
    height: auto;
    margin-top: 20px;
    margin-bottom: 65px;

}

.footer_social ul li a {
    color: #51545f;
    transition: all 300ms ease;
    padding: 10px;
    list-style: none;
}

.footer_social ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer_nav_container ul li {
    display: inline-block;
    margin-right: 10px;

}

.footer_nav_container {
    align-items: center!important;
    justify-content: center!important;
    display: flex;
    flex-direction: row;
    height: auto;
    margin-top: 20px;
    margin-bottom: 65px;

}
